/*
Mjor break Ponits fr Media Query
1200px
992px
768px
576px
*/
/* Global Settings */
*{                              /*  *  is universal selector*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     /*for adjusting padding within div*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*Helper Classes*/
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    clear:both;
    display: block;
}
.w-100{
    width: 100%;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
/* Page Level Settings */

/* container */
#container{

}
/* Topbar */
#topbar{

}
/* Header */
#header{

}
/* Navbar */
#navbar{

}
/* Banner */
#banner{

}
/* Main */ 
#main{

}
/* Sidebar  */
#sidebar{
    
}
/* Footer */
#footer{

}
/* Specific CSS */ 
/* Page-1 */
/* Page-2 */
/* ....
.....
*/